@import "tailwindcss";
*{
    user-select: none;
}
button{
    cursor: pointer;
}
@theme {
    /* 🎨 Colors */
    --color-surface-container-low: #f0f4f7;
    --color-on-tertiary: #f9f8ff;
    --color-tertiary-container: #4388fd;
    --color-background: #f7f9fb;
    --color-primary-fixed-dim: #ccd4ee;
    --color-surface: #f7f9fb;
    --color-on-secondary-fixed: #324053;
    --color-on-tertiary-fixed: #000000;
    --color-on-secondary-container: #455367;
    --color-surface-container-highest: #d9e4ea;
    --color-surface-container-high: #e1e9ee;
    --color-primary-fixed: #dae2fd;
    --color-on-primary-container: #4a5167;
    --color-on-tertiary-fixed-variant: #001435;
    --color-secondary: #526074;
    --color-on-error: #fff7f6;
    --color-on-primary-fixed: #373f54;
    --color-tertiary-fixed-dim: #317bef;
    --color-inverse-surface: #0b0f10;
    --color-error-dim: #4e0309;
    --color-error-container: #fe8983;
    --color-secondary-fixed: #d5e3fc;
    --color-on-background: #2a3439;
    --color-primary-dim: #4a5268;
    --color-tertiary-fixed: #4388fd;
    --color-on-surface-variant: #566166;
    --color-secondary-fixed-dim: #c7d5ed;
    --color-surface-container: #e8eff3;
    --color-surface-bright: #f7f9fb;
    --color-on-primary: #f7f7ff;
    --color-on-primary-fixed-variant: #535b71;
    --color-on-tertiary-container: #000311;
    --color-surfacevariant: #d9e4ea;
    --color-surface-container-lowest: #ffffff;
    --color-on-secondary: #f8f8ff;
    --color-primary: #565e74;
    --color-tertiary-dim: #004fad;
    --color-secondary-dim: #465468;
    --color-outline: #717c82;
    --color-inverse-primary: #dae2fd;
    --color-inverse-on-surface: #9a9d9f;
    --color-on-secondary-fixed-variant: #4e5c71;
    --color-secondary-container: #d5e3fc;
    --color-on-error-container: #752121;
    --color-error: #9f403d;
    --color-tertiary: #005bc4;
    --color-on-surface: #2a3439;
    --color-outline-variant: #a9b4b9;
    --color-surface-tint: #565e74;
    --color-surface-dim: #cfdce3;
    --color-primary-container: #dae2fd;

    /* 🔘 Border Radius */
    --radius: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1.5rem;
    --radius-full: 9999px;

    /* 🔤 Fonts */
    --font-headline: "Inter", sans-serif;
    --font-body: "Inter", sans-serif;
    --font-label: "Inter", sans-serif;
    }
.active{
  display: flex;                 /* flex */
  align-items: center;           /* items-center */
  gap: 0.75rem;                  /* gap-3 */

  padding: 0.75rem 1rem;         /* py-3 px-4 */

  background-color: #ffffff;     /* bg-white */
  color: #0f172a;                /* text-slate-900 */

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* shadow-sm */
  border-radius: 0.75rem;        /* rounded-xl */

  transition: all 0.2s ease-in-out; /* transition-all duration-200 ease-in-out */
}

/* Dark Mode */
.dark .active {
  background-color: #1e293b;     /* slate-800 */
  color: #ffffff;                /* text-white */
}